@import"_variables";
@import url('https://fonts.googleapis.com/css?family=Pacifico|Open+Sans:300');

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    }

body{
    background: url(../css/img/apartment-185778_1920.jpg) no-repeat center center fixed;
    background-size: cover;
    background-color: $border;
}
    .contenido{
    width: calc(75% - 3rem);
    border: solid 20px $border;
    margin: 7em 2em;
    display: flex;
    align-self: center;
    justify-content: space-around ;

    @media (max-width: 850px) {
        flex-direction: column;
        padding: 1em;
        }
        @media (max-width: 400px) {
            flex-direction: column;
            }


        &__logo{
            align-self: center;
        }
        &__enlaces{
            text-align: center;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-size: 22pt;
            padding: 3em;

            &--text{
                margin-top: 0.7em;
                background-color:$border ;
            }

            a{
                color: rgb(16, 5, 58);
                font-weight: 800;
                font-style: italic;
            }
            }
        }


.footer{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin: 1em;
    padding: 1em;
    background-color: rgb(16, 5, 58);
    color: $border;

        &__contacto{
            width: calc(40% - 1rem);
                &--icon{
                    width: 25px;
                    margin-left: 1em;
                    }
        @media (max-width: 850px) {
        width: calc(100% - 1rem);
        padding: 1em;
        }
        }
        &__email{
            width: calc(30% - 1rem);
        @media (max-width: 850px) {
        width: calc(50% - 1rem);
        padding: 1em;
        }
        @media (max-width: 530px) {
            width: calc(100% - 1rem);
            padding: 1em;
            }
        }
        &__telefono{
            width: calc(30% - 1rem);
        @media (max-width: 850px) {
        width: calc(50% - 1rem);
        padding: 1em;
        }
        @media (max-width: 530px) {
            width: calc(100% - 1rem);
            padding: 1em;
            }
        }
        }










// .flex-center {
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }


// .menu a,
// .menu a:visited,
// .menu a:hover,
// .menu a:active {
//     color: inherit;
//     text-decoration: none;
// }

// .tituloNav {
//     font-family: 'Pacifico', cursive;
//     font-weight: 400;
//     font-size: 3em;
//     text-align: center;
// }

// .outer-menu {
//   position: fixed;
//   top: 10vh;
//   left: 0;
//   z-index: 1;
//   }

//   .checkbox-toggle {
//     position: relative;
//     top: 0;
//     left: 0;
//     z-index: 2;
//     cursor: pointer;
//     width: $hamburger-menu-size;
//     height: $hamburger-menu-size;
//     opacity: 0;
    
//     &:checked {
//       & + .hamburger {
//         > div {
//           transform: rotate(135deg);
          
//           &:before,
//           &:after {
//             top: 0;
//             transform: rotate(90deg);
//           }
          
//           &:after {
//             opacity: 0;
//           }
//         }
//       }
      
//       & ~ .menu  {
//         pointer-events: auto;
//         visibility: visible;
        
//         > div {
//           transform: scale(1);
//           transition-duration: .75s;

//           > div {
//             opacity: 1;
//             transition: opacity $anim-duration ease $anim-duration;
//           }
//         }
//       }
//     }
    
//     &:hover + .hamburger {
//       box-shadow: inset 0 0 10px rgba(0, 0, 0, .1);
//     }
    
//     &:checked:hover + .hamburger > div {
//       transform: rotate(225deg);
//     }
//   }
  
//   .hamburger {
//     position: relative;
//     top: 0;
//     left: 0;
//     z-index: 1;
//     width: $hamburger-menu-size;
//     height: $hamburger-menu-size;
//     padding: .5em 1em;
//     background: $hamburger-menu-bg-color;
//     border-radius: 0 $hamburger-menu-border-radius $hamburger-menu-border-radius 0;
//     cursor: pointer;
//     transition: box-shadow $anim-duration ease;
//     backface-visibility: hidden;
//     @extend .flex-center;
    
//     > div {
//       position: relative;
//       flex: none;
//       width: 100%;
//       height: $hamburger-menu-line-height;
//       background: $main-color;
//       transition: all $anim-duration ease;
//       @extend .flex-center;
      
//       &:before,
//       &:after {
//         content: '';
//         position: absolute;
//         z-index: 1;
//         top: -$hamburger-menu-size / 6;
//         left: 0;
//         width: 100%;
//         height: $hamburger-menu-line-height;
//         background: inherit;
//         transition: all $anim-duration ease;
//       }
      
//       &:after {
//         top: $hamburger-menu-size / 6;
//       }
//     }
//   }
  
//   .menu {
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     pointer-events: none;
//     visibility: hidden;
//     overflow: hidden;
//     backface-visibility: hidden;
//     outline: 1px solid transparent;
//     @extend .flex-center;
    
//     > div {
//       width: 200vw;
//       height: 200vw;
//       color: $main-color;
//       background: $content-bg-color;
//       border-radius: 50%;
//       transition: all $anim-duration ease;
//       flex: none;
//       transform: scale(0);
//       backface-visibility: hidden;
//       overflow: hidden;
//       @extend.flex-center;
      
//       > div {
//         text-align: center;
//         max-width: 90vw;
//         max-height: 100vh;
//         opacity: 0;
//         transition: opacity $anim-duration ease;
//         overflow-y: auto;
//         flex: none;
//         @extend .flex-center;
        
//         > ul {
//           list-style: none;
//           padding: 0 1em;
//           margin: 0;
//           display: block;
//           max-height: 100vh;
          
//           > li {
//             padding: 0;
//             margin: 1em;
//             font-size: 24px;
//             display: block;
            
//             > a {
//               position: relative;
//               display: inline;
//               cursor: pointer;
//               transition: color $anim-duration ease;
              
//               &:hover {
//                 color: $hover-color;
                
//                 &:after {
//                   width: 100%;
//                 }
//               }
              
//               &:after {
//                 content: '';
//                 position: absolute;
//                 z-index: 1;
//                 bottom: -.15em;
//                 left: 0;
//                 width: 0;
//                 height: $hover-line-height;
//                 background: $hover-color;
//                 transition: width $anim-duration ease;
//               }
//             }
//           }
//         }
//       }
//     }
//   }
